.cart {
  box-shadow: 0 1px 1px rgba(97,108,121,.1), 0 7px 18px 0 rgba(21,111,170,.21);
    transition: box-shadow .2s ease;
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 3px;

  .cart__main {

    img {
      width: 100%;
    }
  }

  .cart__footer {
    display: flex;
    height: 48px;
    padding: 12px;
    align-items: center;

    .cart__footer__left {
      min-width: 0;
      margin-right: 6px;
      flex: 1;
    }

    .cart__footer__right {
      min-width: 35px;
      color: #1caad9;
      justify-content: flex-end;
      flex-shrink: 0;
    }
  }
}