.global_wrapper {

  .main_baner {
    position: relative;
    overflow: hidden;
    background-color: #333;
    height: 450px;

    img {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0px;
      left: 0;
      bottom: 0;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: all 0.5s;
    }

    .main_content__baner {
      position: relative;
      margin-top: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
      z-index: 10;

      .main_content__baner_grid {
        width: 100%;
        display: flex;
        max-width: 970px;
        position: relative;
        margin-top: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0 auto;

        .baner_header {
          width: 50%;
          flex: 0 0 42%;
          max-width: 42%;          
          flex-direction: column;
          color: white;
          text-align: end;
          line-height: 2.5em;

          h1 {
            text-shadow: 0 0 10px #000;
            text-align: right;
            color: #fff;
            font-size: 29px;
            font-weight: 900;
            line-height: 1.2;
            margin-bottom: 20px;
          }

          p {
            color: #fbe239;
            font-size: 28px;
            font-weight: 700;
          }

        }

        .baner_content {
          flex: 0 0 50%;
          max-width: 50%;
          margin-left: 8%;
          .about_us{

            li {
              list-style: none;
              display: flex;
              padding-bottom: 7px;

              div {
                margin: auto 0;

                svg {
                  width: 40px;
                  height: 40px;
                  margin-right: 15px;
                }
              }

              p {
                text-align: left;
                font-size: 25px;
                font-weight: 600;
                line-height: 1.3;
                color: #fff;
                text-shadow: 0 0 4px #000;
              }
            }
          }

          .baner_form {
            .ant-form {
              display: flex;

              input { 
                border-radius: 20px;
                height: 50px;
                font-size: 120%;
                width: 170px;
              }

              button {
                margin-left: 30px;
                height: 50px;
                border-radius: 20px;
                color: #37383c;
                border-color: #fae348;
                background-color: #fae348;
             
                &:hover {
                  border: 1px solid #009cb1;
                  border-radius: 25px;
                  color: #fff;
                  background-color: #009cb1;
                }
              }
            }
          }
          .recoll {
            p {
              font-weight: 600;
              font-size: 26px;
              line-height: 1.1;
              margin: 10px 0 0 0;
              color: #ffe01d;
              padding: 13px 0px;
            }
          }
        }
      }
    }
  }

  .advantages {
    padding: 40px 0 70px 0;
    position: relative;

    .advantages_wrapper {
      padding-left: 15px;
      padding-right: 15px;

      .advantages_header {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin: 15px 0 35px 0;

        h1 {
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 10px;
          color: #484849;
          font-family: 'Museo Sans', Arial;
          font-size: 38px;
          font-weight: 500;
          letter-spacing: .3px;
        }
      }

      .grid_advantages {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        
        .grid_item {
          width: 25%;
          padding: 14px 10px;

          svg {
            width: 60px;
            height: 60px;
          }

          .title {
            margin-bottom: 8px;
            font-weight: 900;
            font-size: 16px;
            letter-spacing: .62px;
          }

          .text {

          }
        }
      }


      .grid_advantages_scroll {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;

        .go_left, .go_right  {
          width: 50px;
          div {
            height: 100%;
            span {
              height: 100%;
              display: flex;
              align-items: center;
              svg {
                cursor: pointer;
                width: 40px;
                height: 40px;
                color: grey;

                &:hover {
                  color: black;
                }
              }
            }
          }
        }

        .go_right {
          span {
            justify-content: flex-end;
          }
        }

        .ant-carousel {
          width: calc(100% - 100px);

          .slick-slide {
            padding: 10px 20px;

            .title {
              margin-bottom: 10px;
              font-size: 25px;
              letter-spacing: .97px;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  .base {
    padding: 40px 0 70px 0;
    position: relative;

    .base_wrapper {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 1000px;
      margin: 0 auto;

      .base_heder {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin: 15px 0 35px 0;

        h1 {
          display: inline-block;
          vertical-align: middle;
          margin: 0 0 10px;
          color: #484849;
          font-family: 'Museo Sans', Arial;
          font-size: 38px;
          font-weight: 500;
          letter-spacing: .3px;
        }
      }

      .base_main_container {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        .grid_item_wrapper {
          width: 33.3% ;
          position: relative;
          padding: 0 15px;

          .grid_item {
            margin-top: 40px;
            border-radius: 20px;
            border: 1px solid #ebe6e6;
            overflow: hidden;

            .preview {
              img {
                max-width: 100%;
              }

              h2 {
                padding: 0;
                margin: 0;
                font-weight: 600;
                display: flex;
                align-items: center;
                height: 59px;
                align-content: center;
                position: relative;
                a {
                  width: 100%;
                  text-align: center;
                }
              }
            }

            .price {
              padding: 20px 0;
              text-align: center;
            }
            .action {
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
              button {
                width: 90%;
                color: #37383c;
                border-color: #fae348;
                background-color: #fae348;   
                padding: 0 16px 2px;
                border-radius: 25px;
              
                &:hover {
                  border: 1px solid #009cb1;
                  border-radius: 25px;
                  color: #fff;
                  background-color: #009cb1;
                }
              }
            }
          }
        }
      }
    }
  }

  .service_reviews {

    .containr {
      .title {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 15px;

        .main_title {
          text-align: center;
          margin-bottom: 20px;
        }
        .sub_title {
          text-align: center;
        }
      }

      .main_cntainer{
        display: flex;
        max-width: 1100px;
        margin: 20px auto;

        .ant-carousel {
          width: calc(100% - 140px);

          .rewiev-slide {
            padding: 10px;
            .side_body {
              border: 1px solid #dcdddf;
              padding: 15px;

              .main_inf {
                display: flex;
                justify-content: space-between;

                .name {
                  h3 {
                    font-size: 1.1em;
                    text-transform: uppercase;
                    font-weight: bold;
                  }
                }

                .date {
                }
              }

              .green_small_bar {
                height: 2px;
                width: 35px;
                background-color: #188e9f;
                margin: 10px 0;
              }

              .side__rewiew {
                max-height: 85px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
        .second_review_controlers {
          display: none;
        }

        .go_left, .go_right {
          display: flex;
          align-items: center;

          div {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #dcdddf;
            position: relative;

            svg {
              margin-left: 3px;
              position: absolute;
              width: 30px;
              height: 30px;
              top: calc(50% - 15px);
            }

            &:hover {
              border: 1px solid #188e9f;
              background: #188e9f;
              background-size: 24px 24px;
              color: honeydew;
            }
          }
        }

        .go_left {
          margin-right: 20px;
          margin-left: 10px;
        }

        .go_right {
          margin-left: 20px;
          margin-right: 10px;
        }

        .second_review_controlers {
          width: 100%;
        }
      }

      .reviews_actions {
        margin: 0 auto 20px auto;
        max-width: 1000px;
        padding-top: 0 15px;
        display: flex;
        justify-content: center;

        button {
          width: 100%;
          max-width: 250px;
          color: #37383c;
          border-color: #c5c5c9;
          background-color: #f0f6f7;
          height: 40px;
          border-radius: 20px;
          font-size: 1.1em;
        }

        button:last-child {
          margin-left: 20px;
        }
      }

    }
  }

  .calculate_price_modal {
    .ant-modal-content {
      .calculate_price {
        .title {
          display: flex;
          align-items: center;

          svg {
            width: 105px;
            height: 105px;
            margin-right: 12px;
          }

          p {
            text-align: left;
            font-weight: normal;
            font-size: 35px;
            line-height: 35px;
            letter-spacing: 0.62px;
          }
        }
        .body_content {
          display: flex;

          .text_container {
            font-size: 20px;
            width: 50%;
            padding-right: 20px;
            .text-yellow {
              background-color: yellow;
            }

          }

          .call_back_form {
            display: flex;
            width: 50%;
            padding-left: 20px;

            .ant-form {
              width: 100%;
              .ant-row {
                display: flex;
                justify-content: center;
                width: 100%;

                button {
                  width: 100%;
                  max-width: 100%;
                  height: 52px;
                  font-size: 20px;
                  color: #484849;
                  background-color: #f6df46;
                  border-radius: 25px;

                  &:hover {
                    padding: 0 16px 2px;
                    background-color: #009cb1;
                    border-radius: 25px;
                  }
                }

                input {
                  max-width: 100%;
                  height: 52px;
                  border: 1px solid #d6d6d6;
                  background-color: #f6f4f4;
                  font-size: 20px;
                  border-radius: 25px;
                  text-align: center;
                }
              }              
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main_content__baner {
    .main_content__baner_grid {
      flex-direction: column !important;
       
      .baner_header {
        margin: 0 auto;

        h1, p {
          text-align: center !important;
          margin-bottom: 10px !important;
        }
      }
      .baner_content {
        max-width: 256px !important;
        margin: 0 auto !important;
    
        li {
          div {
            height: 30px;
            svg {
              width: 25px !important;
              height: 30px !important;
            }
          }
          
          p {
            font-size: 17px !important;
          }
        }
  
        .baner_form {
          .ant-form {
            flex-direction: column !important;
  
            .ant-row {
              margin-bottom: 15px;
              
              input {
                width: 100% !important;
                padding: 0 20%;
              }

              button {
                width: 100%;
                margin: 0 !important;
              }
            }

            .ant-row:last-child {
              margin-bottom: 0;
            }
          }
        }
  
        .recoll {
          p {
            text-align: center ;
            font-size: 18px !important;
          }
        }
      }
    }
  }

  .advantages {
    padding: 20px 0 0 0 !important;
    .advantages_wrapper {
      .grid_item {
        width: 50% !important;
      }
    }
  }

  .base {
    .base_wrapper {
      .base_main_container {
        .grid_item_wrapper {
          width: 50% !important;
          padding: 0 10px !important;

          .grid_item {
            margin-top: 20px !important;
          }
        }
      }
    }
  }

  .calculate_price_modal {
    .ant-modal-content {
      .calculate_price {
        .title {
          svg {
            width: 51px !important;
            height: 51px !important;
          }

          p {
            font-size: 16px !important;
            font-weight: 600 !important;
            line-height: 18px !important;
            letter-spacing: 0.54px;
          }
        }

        .body_content {
          flex-direction: column;
          .text_container {
            width: 100% !important;
            p {
              font-size: 15px;
            }
          }
          .call_back_form {
            margin-top: 15px;
            width: 100% !important;
            padding-left: 0 !important;
            .ant-form {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              .ant-row {
                width: auto !important;
                margin-bottom: 15px;
                input, button {
                  max-width: 200px !important;
                }
                input  {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1023px) {
 .main_content__baner {
    padding: 0 !important;
    margin-top: 0 !important; 

    .baner_header {
      width: 100% !important;
      max-width: 100% !important;

      h1 {
        font-size: 23px !important; 
      }

      p {
        font-size: 20px !important; 
      }
    }
  }
}

@media screen and (min-width: 1290px) {
  .base {
    .base_wrapper {
      .base_main_container {
        .grid_item_wrapper {
          width: 25% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .base {
    .base_wrapper {
      .base_main_container {
        .grid_item_wrapper {
          width: 100% !important;
          padding: 0 10px !important;

          .grid_item {
            margin-top: 20px !important;

            .price {
              padding: 10px 0 !important;
            }
          }
        }
      }
    }
  }

  .service_reviews {
    .containr {
      .main_cntainer {
        flex-direction: column;
        .go_left, .go_right {
          display: none !important;
        }

        .ant-carousel {
          width: 100% !important;
          padding: 0 25px;
        }

        .second_review_controlers {
          display: flex !important;
          width: 100%;
          justify-content: center;

          .go_left_dub, .go_right_dub {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #dcdddf;
            position: relative;

            div {
              height: 100%;

              span {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                  cursor: pointer;
                  width: 30px;
                  height: 30px;
                  color: grey;
  
                  &:hover {
                    color: black;
                  }
                }
              }
            }
          }

          .go_left_dub {

            margin-right: 20px;
          }
        }
      }
    }
  }
}