.header {
  height: 60px;
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: width .25s ease;
  box-sizing: border-box;
  top: 0;
  min-width: 0;

  .header-container {
    margin: 0 20px;
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
    
    .logo-container {
      display: flex;
      align-items: center;

      img {
        width: 250px;
        height: auto;
      }
    }

    .navigator {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        margin-left: 20px;
        color: hsla(0,0%,100%,.75);
        white-space: nowrap
      }

      li:hover {
        background: #313131;
        transition: all 300ms linear;
      }
    }

    .search-container {
      margin-left: 20px;
      display: flex;
      flex: 1 1 auto;
      align-items: center;
    }

    .right-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-left: auto;
      align-items: center;
      height: 32px;

        .header-nav-mobile {
          display: flex;
          align-items: center;

          li {
            cursor: pointer;
            width: 26px;
            height: 26px;
            line-height: 26px;
            font-size: 100%;
            background-color: #FF9000;
            border-radius: 50%;
            margin-left: 5px;
            transition: all 300ms linear;

            span {
              width: 100%;
              height: 100%;
              color: white;
            }

            &:hover {
              background-color: black;
            }
          }
        }

        .header-nav {
          display: flex;
          transition: all 300ms linear;

          li {
            cursor: pointer;
            position: relative;
            display: inline-block;
            margin-left: 60px;
            font-size: 160%;
            position: relative;
            display: block;
            color: #000;
            line-height: 40px;
            font-weight: 100;

            &:before {
              position: absolute;
              top: 0;
              left: -30px;
              width: 2px;
              height: 100%;
              content: "";
              background: #FF9000;
              -ms-transform: skewX(-30deg);
              -webkit-transform: skewX(-30deg);
              transform: skewX(-30deg);
            }

            &:first-child {
              &:before{
                content: none;
              }
            }
          }
        }

        .togle-open-menu {
          cursor: pointer;
          color: #FF9000;
          margin-left: 10px;
          border: 1px solid black;
          padding: 9px 10px;
          border-radius: 4px;
          height: 34px;
          
          span {
            position: relative;
            top: -4px;
            font-size: 1.5em;
          }

          &:hover {
            background-color: black;
          }
        }

        .ant-popover-arrow {
          border-color: #181F28;
        }

        .ant-popover-inner-content {
          padding: 0;
          background-color: #181F28;
          color: white;
          ul {
            li {
              cursor: pointer;
              position: relative;
              font-size: 100%;
              color: #FFF;
              text-transform: none !important;
              height: auto;
              margin: 0 !important;
              padding: 10px 15px !important;
              border-bottom: 0 solid #FFF !important;
              transition: all 300ms linear;

              &:hover {
                background-color: #FF9000;
              }
            }
          }
        }

      .under-header{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
        
        li{
          cursor: pointer;
          color: white;
          border-radius: 50%;
          background-color: #FF9000;
          list-style-type: none;
          width: 44px;
          height: 44px;
          line-height: 44px;
          font-size: 160%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-left: 4px;
          
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}

.is-visible {
  background-color: #FFF;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);

  .under-header {
    display: none !important;
  }
}


@media screen and (max-width: 1600px) {
  .header-nav {
    li {
      font-size: 140% !important;
    }
  }
}

@media screen and (max-width: 1366px) {
  .logo-container {
    img {
      width: 210px !important;
    }
  }

  .header-nav {
    li {
      margin-left: 44px !important;
      font-size: 135% !important;

      &:before {
        left: -22px !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .logo-container {
    img {
      max-width: 200px !important;
    }
  }

  .header-nav {
    li {
      margin-left: 32px !important;
      font-size: 105% !important;

      &:before {
        left: -17px !important;
      }
    }
  }
}