.footer {
  background-color: #333;  
  color: #fff;

  .footer_wrapper {
    padding-top: 20px;
    .footer_contact {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      justify-content: space-around;
      padding: 0 20px;
      margin: 0 auto;

      .left_block {
        display: flex;
        justify-content: center;

        .img_wrapper {
          display: flex;
          align-items: center;
          margin-right: 20px;
          img {
            margin: auto 0;
            width: 160px;
            height: 90px;
          }
        }

        .contact_item_list {
          .contact_item{
            .item_title {
              font-size: 1.1em;
            }
            .item_data {
              margin-bottom: 8px;
            }
          }
        }
      }

      .right_block {
        display: flex;
        justify-content: center;
        align-items: center;
        .social_media {
          display: flex;
          margin: 0 20px;
          a {
            svg  {
              width: 40px;
              height: 40px;
              fill: white;
            }

          }
        }

        .contact_us {
          margin-left: 15px;
          .call_us_phone {
            margin-bottom: 10px;
            a {
              display: block;
              text-align: center;
              text-decoration: none;
              font-size: 33px;
              color: #fff;
              white-space: nowrap;
            }
          }

          p {
            font-size: 18px;
            white-space: nowrap;
            text-align: center;
            display: block;
          }

          button {
            width: 100%;
            color: #37383c;
            border-color: #fae348;
            background-color: #fae348;
            margin-top: 20px;
            max-width: 250px;
            font-size: 20px;
            height: 45px;
            border-radius: 25px;
          }
        }
      }
    }
  }
  .hor_bar {
    width: 100%;
    height: 2px;
    background-color: #f7c734;
    margin: 20px 0;
  }

  .fotter_sub {
    .futer_sub_container {
      margin: 0 auto;
      max-width: 1000px;
      p {
        padding: 0 0 20px 10px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    .footer_wrapper {
      .footer_contact {
        flex-direction: row;

        .left_block {
          width: auto;
          margin: 0;
          flex-direction: column !important;

          p {
            text-align: center;
          }

        }

        .right_block {
          flex-direction: row;
          .social_media {
            flex-direction: column !important;
            margin: 0 30px 0 0 ;
          }
          .contact_us {
            .call_us_phone {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    .footer_wrapper {
      .footer_contact {
        flex-direction: column;

        .left_block {
          width: auto;
          margin: 0 auto;

          img {
            margin-bottom: 20px !important;
          }

          p {
            text-align: center;
          }

          .img_wrapper {
            margin: 0 auto;
           }
        }

        .right_block {
          flex-direction: column !important;
          .social_media {
            flex-direction: row !important;
            margin: 20px 0;
          }
          .contact_us {
            margin: 0 !important;
            .call_us_phone {
              margin-bottom: 20px;
            }

            div {
              display: flex;
              justify-content: center;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
